{% extends 'base.html' %}
{% block title %}{{game.title}}{% endblock  %}
{% block content %}
<div class="detail__img">
  <img src="{{game.img}}" alt="{{game.title}}" />
</div>
<div class="detail__name">
  <div class="icon-text">
    <span>This Game was created by {{game.nerd.name}}</span>
  </div>
  <h1 class="title">{{game.title}}</h1>
</div>
<div class="detail__container">
  {% if user.is_authenticated and request.user.nerd.name == game.nerd.name %}
  <div class="buttons">
    <a href="{% url 'game_edit' game.pk %}" class="button is-info">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
    </a>
    <a href="{% url 'game_delete' game.pk %}" class="button is-danger">
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
    </a>
  </div>
  {% endif %}
  <div class="detail__about">
    <h4 class="title is-4">About This Game</h4>
    <p>{{game.about}}</p>
  </div>
</div>

{% endblock %}