{% extends 'base.html' %}
{% block title %}Home{% endblock  %}
{% block content %}
<h1 style='font-size: 50px;'>Welcome to Plenty of Nerds!</h1>
<br>
<div>
    <img src='https://i.imgur.com/OZeRLBH.jpeg' style="
    height: 850px;
    width: 100%" />
</div>
<div style='
position: absolute;
z-index: 5;
top: 200px;
right: 450px
'>
    <p style='font-size: 20px; text-shadow: 1px 1px 0px #000000;'>
        A place for TTRPG gamers to get together and find more people to game with.<br>You can also browse the other games that have been created and find a new group to join.
    </p>
</div>

{% endblock %}
