{% extends 'base.html' %}
{% block title %}Update{% endblock  %}
{% block content %}

<body style="background: radial-gradient(rgb(0, 0, 65), rgb(0, 0, 0));">

<h1 style='
position: absolute;
z-index: 5;
top: 40px;
left: 50px;
font-size: 50px;
text-shadow: 1px 1px 0px #000000;
'>Update {{nerd.name}}</h1>

<form action="" method="post">
    {% csrf_token %}
    <image
    style='
    height: auto;
    width: 100%;
    '
    src='https://media.comicbook.com/2020/08/tasha-hed-1234181.jpeg?auto=webp&width=1200&height=628&crop=1200:628,smart' 
    />
    <table
    style='
    position: absolute;
    z-index: 5;
    top: 450px;
    left: 50px;
    font-size: 20px;
    text-shadow: 1px 1px 0px #000000;
    '>
        {{form}}
    </table>
    <input type="submit" value="Submit" />
</form>
</body>

{% endblock %}