{% extends 'base.html' %}
{% block title %}{{nerd.name}}{% endblock  %}
{% block content %}
<div class="detail__img">
  <img src="{{nerd.img}}" alt="{{nerd.name}}" />
</div>
<div class="detail__name">
  {% if nerd.gm %}
  <div class="icon-text">
    <span class="icon has-text-info">
      <i class="fas fa-check-circle"></i>
    </span>
    <span>This Nerd is a Verified Game Master</span>
  </div>
  {% endif %}
  <h1 class="title">{{nerd.name}}</h1>
</div>
<div class="detail__container">
  <div class="detail__about">
    <h4 class="title is-4">About</h4>
    <p>{{nerd.bio}}</p>
  </div>
</div>

{% endblock %}